.container {
    display: flex;
    background-color: black;
    
}

.column {
    flex: 1;
    padding: 20px;
    text-align: center;
}
.content p {
    padding: 20px;
    font-size: 14px;
    color: goldenrod;
}
.content h2{
    font-size: 32;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}